@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
   
  }
  .calculator{
    border: 1px solid #717377;
    padding: 30px;
    border-radius: 10px;
    background: transparent;
   
  }
  input{
    width: 330px;
    border: none;
    padding: 20px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
  }
  input::placeholder{
    color: #ffffff;
  }
  button{
    border: none;
    width: 60px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 25px;
    box-shadow: -7px -7px 13px rgba(255,255,255,0.1);
    cursor: pointer;
  }
  .operator{
    color: green;
  }
  .equalBtn{
    background-color: #FFA500;
  }
  